<template>
  <appointment-comp/>
</template>

<script>
  import AppointmentComp from '../../components/AppointmentComp.vue'

  export default {
    name: 'AppointmentView',

    components: {
      AppointmentComp,
    },
  }
</script>