<template>
  <mutuelle/>
</template>

<script>
  import mutuelle from '../../components/ListMutuelle.vue'

  export default {
    name: 'mutuelleView',

    components: {
      mutuelle,
    },
  }
</script>