<template>
  <operators-comp/>
</template>

<script>
  import OperatorsComp from '../../components/OperatorsComp.vue'

  export default {
    name: 'OperatorView',

    components: {
      OperatorsComp,
    },
  }
</script>