<template>
<div>
  <users-comp/>
</div>
</template>

<script>
  import UsersComp from '../../components/ListUsers.vue'

  export default {
    name: 'UsersViews',
    components: {
      UsersComp
    },
  }
</script>