<template>
        <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    horizontal
  >
    <div>
    <v-text-field
      v-model="name"
      :counter="30"
      :rules="nameRules"
      label="Name"
      required
      outlined
      prepend-inner-icon="mdi-human-edit"
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
      outlined
      prepend-inner-icon="mdi-gmail"
    ></v-text-field>

    <v-btn
      :disabled="!valid"
      color="success"
      class="mr-4"
      @click="validate"
    >
      Appliquer
    </v-btn>
    </div>
  </v-form>
</template>

<script>
import axios from 'axios'
import crypto from '../plugins/crypto'

  export default {
      components:{
      },
    data: () => ({
      valid: true,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 30) || 'Name must be less than 10 characters',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ]
    }),

    
   created(){
     this.initialize();
   },

    methods: {
       initialize(){
       let _data = {"id":localStorage.getItem('Id'), "token": crypto.decrypt(localStorage.getItem('token'))}
       axios.post("http://localhost:4000/collab/all",_data)
        .then(res=>{
            this.name = res.data[0].name;
            this.email = res.data[0].email;
        })
        .catch(error=>{
            alert(error.response.data);
        })
     },


      validate () {
        this.$refs.form.validate()
      },
      reset () {
        this.$refs.form.reset()
      },
    },
  }
</script>