<template>
  <div>
    <v-data-table 
      :headers="headers"
      :items="mutuelles"
      sort-by="id"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header v-slot="{open}">
              <v-row no-gutters>
                <v-col cols="4">
                  Criteres de Recherche
                </v-col>
                <v-col cols="8" class="text--secondary">
                  <v-fade-transition leave-absolute>
                    <span v-if="open"></span>
                    <v-row v-else no-gutters style="width:100%">
                      <v-col cols="6">
                        Mutuelle : {{rech.libelle || 'Non indiqué'}}
                      </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row justify="space-around" no-gutters>
                <v-col cols="3">
                  <v-menu
                    ref="startMenu"
                    :close-on-content-click="false"
                    :return-value="rech.libelle"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{on, attrs}">
                      <v-text-field
                        v-model="rech.libelle"
                        label="Mutuelle"
                        v-bind="attrs"
                        v-on="on"
                        @change="initialize"
                      ></v-text-field>
                    </template>
                  </v-menu>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-toolbar
          flat
        >
          <v-toolbar-title>Liste des Mutuelles</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{on, attrs}">
              <v-btn 
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Ajouter
              </v-btn>
            </template>
          <v-card>
            <v-card-title>
                <span class="text-h5">{{formtitle}}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                    <v-text-field
                      v-model="editedItem.libelle"
                      label="Mutuelle"
                    ></v-text-field>
                  </v-col>

             <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                    <v-text-field
                      v-model="editedItem.telephone"
                      label="N° Tél "
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
              <v-btn color="blue darken-1" text @click="save" :rules="emailRules">Appliquer</v-btn>
            </v-card-actions>
          </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="470">
            <v-card>
              <v-card-title class="text-h5">Voulez-vous vraiment supprimer cette opérateur ?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Annuler</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
    
    <template v-slot:[`item.actions`]="{item}">
      <v-icon
        color="green"
        small
        class="mr-2"
        @click="editItem(item)"
      >
      mdi-pencil
      </v-icon>

      <v-icon
        color="red"
        small
        class="mr-2"
        @click="deleteItem(item)"
      >
      mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-spacer></v-spacer>
      Aucun Opérateur à afficher
      <v-spacer></v-spacer>
    </template>
    </v-data-table>
     <Notification :type="status" :message="notificationMessage" :show="showNot"/>
  </div>
</template>

<script>
import axios from 'axios'
import crypto from '../plugins/crypto'
import Notification from "../views/layout/Notification.vue"

 export default {
  components: {
    Notification
  },
   data: () => ({
     show2:false,
     dialog:false,
     dialogDelete:false,
     
     
     headers: [
       {
         text:'Identifiant',
         align:'start',
         filterable:false,
         value:'id',
       },
       {text: 'Mutuelle ', value:'libelle'},
       {text: 'N° Tél ', value:'telephone'},
       {text: 'Actions', value:'actions' , sortable:false}
     ],

    mutuelles:[],
    editedIndex:-1,
    pseudo: "",
    status:'',
    notificationMessage:'',

    editedItem:{
      id:'',
      libelle:'',
      telephone:""

    },
    defaultItem:{
      id:'',
      libelle:'',
      telephone:''
    },
    rech:{
      libelle:''
    },

   }),

   computed:{
     formtitle () {
       return this.editedIndex === -1 ? 'Ajouter un nouveau' : 'Modifier les données'
     },
   },

   watch: {
     dialog(val) {
       val || this.close()
     },
     dialogDelete(val){
       val || this.closeDelete()
     },
   },

   created(){
     this.initialize();
   },

   methods:{
     initialize(){

       let _data = {"libelle":this.rech.nom, "token": crypto.decrypt(localStorage.getItem('token'))}
       axios.post("http://localhost:4000/mutuelle/All",_data)
        .then(res=>{
          this.mutuelles = res.data;
        })
        .catch(error=>{
            alert(error.response.data);
        })
     },


     editItem(item){
       this.editedIndex = this.mutuelles.indexOf(item)
       this.editedItem = Object.assign({},item)
       this.dialog = true
     },

     deleteItem(item){
        this.editedIndex = this.mutuelles.indexOf(item)
        this.editedItem = Object.assign({},item)
        this.dialogDelete = true
     },



     deleteItemConfirm (){
       let _token = crypto.decrypt(localStorage.getItem('token'));
       let _data = {"id":this.editedItem.id,'token':_token};
       axios.post("http://localhost:4000/mutuelle/delete",_data)
            .then(res =>{
              this.mutuelles = res.data;
               this.lunchAlert('success',"La suppression du mutuelle à été efectuée avec succés ",2000);
            })
            .catch(error=>{
                 this.lunchAlert('error',error.response.data,2000);
            });
            this.closeDelete();
     },


     lunchAlert(status,notificationMessage,delay){
          this.status = status;
          this.notificationMessage = notificationMessage
          this.showNot = true;
          setTimeout(() => {
              this.showNot = false;
          }, delay);
        },

     close(){
       this.dialog = false
       this.$nextTick(() =>{
         this.editedItem = Object.assign({},this.defaultItem)
         this.editedIndex = -1
       })
     },

     closeDelete(){
       this.dialogDelete = false
       this.$nextTick(() =>{
         this.editedItem = Object.assign({},this.defaultItem)
         this.editedIndex = -1
       })
     },

     save(){

       let _data = {};
       let _token = crypto.decrypt(localStorage.getItem('token'));
       if (this.editedIndex > -1){
         _data = {
           "id": this.editedItem.id,
           "libelle":this.editedItem.libelle,
            "telephone":this.editedItem.telephone,
           "token":_token
         }
         this.lunchAlert('success',"La mise à jour du mutuelle à été efectuée avec succés ",2000);
       } else {
           _data = {
           "id":0,
           "libelle":this.editedItem.libelle,
           "telephone":this.editedItem.telephone,
           "token":_token
         }
         this.lunchAlert('success',"La création du mutuelle à été efectuée avec succés ",2000);
       }

      axios.post("http://localhost:4000/mutuelle/traiter",_data)
            .then(res =>{
              this.mutuelles = res.data;
              this.close();
            })
            .catch(error=>{
                 this.lunchAlert('error',error.response.data,2000);
            });

     }
   }
 }
</script>
