<template>
    <v-app>
        <div>
        <h1>
            operators Page
        </h1>
    </div>
    </v-app>
</template>
<script>
    export default {
        name:'OperatorsView'
    }
</script>