<template>
  <div>
    <v-data-table 
      :headers="headers"
      :items="patients"
      sort-by="id"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header v-slot="{open}">
              <v-row no-gutters>
                <v-col cols="4">
                  Criteres de Recherche
                </v-col>
                <v-col cols="8" class="text--secondary">
                  <v-fade-transition leave-absolute>
                    <span v-if="open">Quels sont vos critéres de recherche ?</span>
                    <v-row v-else no-gutters style="width:100%">
                      <v-col cols="6">
                        CIN : {{rech.cin || 'Non indiqué'}}
                      </v-col>
                      <v-col cols="6">
                         Nom Complet : {{rech.nom || 'Non indiqué'}}
                      </v-col>
                    </v-row>
                  </v-fade-transition>
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-row justify="space-around" no-gutters>
                <v-col cols="3">
                  <v-menu
                    ref="startMenu"
                    :close-on-content-click="false"
                    :return-value="rech.cin"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{on, attrs}">
                      <v-text-field
                        v-model="rech.cin"
                        label="CIN"
                        v-bind="attrs"
                        v-on="on"
                        @change="initialize"
                      ></v-text-field>
                    </template>
                  </v-menu>
                </v-col>

                <v-col cols="3">
                  <v-menu
                    ref="startMenu"
                    :close-on-content-click="false"
                    :return-value="rech.nom"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{on, attrs}">
                      <v-text-field
                        v-model="rech.nom"
                        label="Nom Complet"
                        v-bind="attrs"
                        v-on="on"
                        @change="initialize"
                      ></v-text-field>
                    </template>
                  </v-menu>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-toolbar
          flat
        >
          <v-toolbar-title>Liste des Patients</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{on, attrs}">
              <v-btn 
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Ajouter
              </v-btn>
            </template>
          <v-card>
            <v-card-title>
                <span class="text-h5">{{formtitle}}</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                    <v-text-field
                      v-model="editedItem.cin"
                      label="CIN"
                    ></v-text-field>
                  </v-col>

                  <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                    <v-text-field
                      v-model="editedItem.nomcomplet"
                      label="Nom Complet"
                    ></v-text-field>
                  </v-col>

               <v-col
                   cols="12"
                   sm="6"
                   md="12"
                >                     
                 <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="editedItem.datenaissance"
                      label="Date Naissance"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="editedItem.datenaissance"
                    :active-picker.sync="activePicker"
                    :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                    min="1950-01-01"
                    @change="saveDate"
                  ></v-date-picker>
                </v-menu>
             </v-col>

                   <v-col
                       cols="12"
                       sm="6"
                       md="12"
                     >    
                         <v-radio-group
                           v-model="editedItem.sexe"
                           label="Sexe"
                           row
                         >
                           <v-radio
                             label="Homme"
                             value="H"
                           ></v-radio>
                           <v-radio
                             label="Femme"
                             value="F"
                           ></v-radio>
                         </v-radio-group>
                   </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                     <v-text-field
                      v-model="editedItem.telephone"
                      label="N° Téléphone"
                    ></v-text-field>
                  </v-col>

                <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                     <v-text-field
                      v-model="editedItem.adresse"
                      label="Adresse"
                    ></v-text-field>
                  </v-col>

                  <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                     <v-text-field
                      v-model="editedItem.email"
                      label="E-mail"
                    ></v-text-field>
                  </v-col>

                <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                     <v-combobox 
                      v-model="editedItem.situation"
                      :items="S_item"
                      item-text="libelle"
                      item-value="id"
                      label="Situation"
                    ></v-combobox>
                  </v-col>

               <v-col
                    cols="12"
                    sm="6"
                    md="12"
                  >
                    <v-combobox 
                      v-model="editedItem.libmutuelle"
                      :items="mutuelles"
                      item-text="libelle"
                      item-value="id"
                      label="Mutuelle"
                    ></v-combobox>
                  </v-col>

                </v-row>

              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
              <v-btn color="blue darken-1" text @click="save" :rules="emailRules">Appliquer</v-btn>
            </v-card-actions>
          </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="470">
            <v-card>
              <v-card-title class="text-h5">Voulez-vous vraiment supprimer cette patient ?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Annuler</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
    
    <template v-slot:[`item.actions`]="{item}">
      <v-icon
        color="green"
        small
        class="mr-2"
        @click="editItem(item)"
      >
      mdi-pencil
      </v-icon>

      <v-icon
        color="red"
        small
        class="mr-2"
        @click="deleteItem(item)"
      >
      mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-spacer></v-spacer>
      Aucun Opérateur à afficher
      <v-spacer></v-spacer>
    </template>
    </v-data-table>
     <Notification :type="status" :message="notificationMessage" :show="showNot"/>
  </div>
</template>

<script>
import axios from 'axios'
import crypto from '../plugins/crypto'
import Notification from "../views/layout/Notification.vue"

 export default {
  components: {
    Notification
  },
   data: () => ({
     show2:false,
     dialog:false,
     dialogDelete:false,

     activePicker: null,
     
     menu: false,
     
      emailRules:[
        v => !!v || 'E-mail ne peux pas etre vide ',
      ],

     headers: [
       {
         text:'Identifiant',
         align:'start',
         filterable:false,
         value:'id',
       },
       {text: 'CIN', value:'cin'},
       {text: 'Nom Complet ', value:'nomcomplet'},
       {text: 'Date Naissance ', value:'datenaissance'},
       {text: 'Sexe ', value:'sexe'},
       {text: 'N° Tél  ', value:'telephone'},
       {text: 'Mutuelle ', value:'libmutuelle'},
       {text: 'Actions', value:'actions' , sortable:false}
     ],

    patients:[],
    mutuelles:[],

    S_item:[
       {id:'C',libelle:'Célibataire'},
       {id:'M',libelle:'Marié'},
       {id:'D',libelle:'Divorcer'}
      ],

    editedIndex:-1,
    pseudo: "",
    status:'',
    notificationMessage:'',
    editedItem:{
      id:'',
      cin:'',
      nomcomplet:'',
      datenaissance:'',
      sexe:'',
      telephone:'',
      adresse:'',
      email:'',
      situation:'',
      codesituation:'',
      libmutuelle:'',
      fk_mutuelle_id:''

    },
    defaultItem:{
      id:'',
      name:'',
      email:'',
      pwd:''

    },
    rech:{
      nom:'',
      cin:''
    },

   }),

   computed:{
     formtitle () {
       return this.editedIndex === -1 ? 'Ajouter un nouveau' : 'Modifier les données'
     },
   },



   watch: {
     dialog(val) {
       val || this.close()
     },
     dialogDelete(val){
       val || this.closeDelete()
     },
       menu (val) {
        val && setTimeout(() => (this.activePicker = 'YEAR'))
      },
   },

   created(){
     this.initialize();
     this.ComboMutuelle();
   },

   methods:{
     initialize(){

       let _data = {"cin":this.rech.cin,"name":this.rech.nom, "token": crypto.decrypt(localStorage.getItem('token'))}
       axios.post("http://localhost:4000/patient/All",_data)
        .then(res=>{
          this.patients = res.data;
        })
        .catch(error=>{
            alert(error.response.data);
        })
     },

      ComboMutuelle(){

       let _data = {"libelle":'', "token": crypto.decrypt(localStorage.getItem('token'))}
       axios.post("http://localhost:4000/mutuelle/All",_data)
        .then(res=>{
          this.mutuelles = res.data;
        })
        .catch(error=>{
            alert(error.response.data);
        })
     },


     editItem(item){
       this.editedIndex = this.patients.indexOf(item)
       this.editedItem = Object.assign({},item)
       this.dialog = true;
       this.editedItem.sexe==='Homme'? this.editedItem.sexe='H': this.editedItem.sexe='F';
      
     },

     deleteItem(item){
        this.editedIndex = this.patients.indexOf(item)
        this.editedItem = Object.assign({},item)
        this.dialogDelete = true
     },

     saveDate (date) {
        this.$refs.menu.save(date)
      },



     deleteItemConfirm (){
       let _token = crypto.decrypt(localStorage.getItem('token'));
       let _data = {"id":this.editedItem.id,'token':_token};
       axios.post("http://localhost:4000/patient/delete",_data)
            .then(res =>{
              this.patients = res.data;
               this.lunchAlert('success',"La suppression du Patient à été efectuée avec succés ",2000);
            })
            .catch(error=>{
                 this.lunchAlert('error',error.response.data,2000);
            });
            this.closeDelete();
     },

     lunchAlert(status,notificationMessage,delay){
          this.status = status;
          this.notificationMessage = notificationMessage
          this.showNot = true;
          setTimeout(() => {
              this.showNot = false;
          }, delay);
        },

     close(){
       this.dialog = false
       this.$nextTick(() =>{
         this.editedItem = Object.assign({},this.defaultItem)
         this.editedIndex = -1
       })
     },

     closeDelete(){
       this.dialogDelete = false
       this.$nextTick(() =>{
         this.editedItem = Object.assign({},this.defaultItem)
         this.editedIndex = -1
       })
     },

     ReturnId(array,filter)
     {
       return (filter.id == undefined) ?
          array.filter(ar=>ar.libelle==filter)[0].id:filter.id
     },

     save(){
       

       let _data = {};
       let _token = crypto.decrypt(localStorage.getItem('token'));
       if (this.editedIndex > -1){
         _data = {
           "id": this.editedItem.id,
           "cin":this.editedItem.cin,
           "nomcomplet":this.editedItem.nomcomplet,
           "datenaissance":this.editedItem.datenaissance,
           "sexe":this.editedItem.sexe,
           "telephone":this.editedItem.telephone,
           "fk_mutuelle_id":this.ReturnId(this.mutuelles,this.editedItem.libmutuelle),
           "adresse":this.editedItem.adresse,
           "situation": this.ReturnId(this.S_item,this.editedItem.situation),
           "email":this.editedItem.email,
           "token":_token
         }
         this.lunchAlert('success',"La mise à jour du Patient à été efectuée avec succés ",2000);
       } else {
           _data = {
           "id": 0,
           "cin":this.editedItem.cin,
           "nomcomplet":this.editedItem.nomcomplet,
           "datenaissance":this.editedItem.datenaissance,
           "sexe":this.editedItem.sexe,
           "telephone":this.editedItem.telephone,
           "fk_mutuelle_id":this.editedItem.libmutuelle.id,
           "adresse":this.editedItem.adresse,
           "situation":this.editedItem.situation.id,
           "email":this.editedItem.email,
           "token":_token
         }
         this.lunchAlert('success',"La création du Patient à été efectuée avec succés ",2000);
       }

      axios.post("http://localhost:4000/patient/traiter",_data)
            .then(res =>{
              this.patients = res.data;
              this.close();
            })
            .catch(error=>{
                 this.lunchAlert('error',error.response.data,2000);
            });

     }
   }
 }
</script>
